.job-location-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e9e9e9;
  padding: 1em;
}

.job-location-icon-container {
  margin-left: -0.5em;
  margin-right: 1.1em;
}

.job-location-arrow-container {
  margin-left: auto;
  transform: translateX(8px);
}

.location-header {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: -0.8px;
}

.location-address {
  font-size: 1.3rem;
  line-height: 1.5em;
  letter-spacing: -1px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.location-distance {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.25em;
}
