.job-reportto-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 1em;
}

.job-reportto-icon-container {
  margin-right: 1.4em;
}

.job-reportto-data-container h3 {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: -0.8px;
}

.job-reportto-data-container p {
  font-size: 1.2rem;
  margin-top: 0.25em;
}
