.error-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  border: 3px solid black;
  padding: 2em;
  border-radius: 20px;
  margin-right: 2em;
  margin-left: 2em;
}

.message {
  font-size: 1.5rem;
}

.error {
  color: #ff0000;
  margin-top: 1em;
}

.reload-button {
  text-align: center;
  margin-top: 2em;
  cursor: pointer;
}

.reload-button:hover,
.reload-button:focus {
  transform: scale(1.2);
}
