.header {
    background-color: #000;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em;
}

.header-logo {
  width: 240px;
}

.header-name {
    color: #fdfdfd;
    font-weight: 300;
    font-size: 2em;
    margin-left: .5em;
    margin-right: .5em;
}

@media (max-width: 400px) {
    .header-name {
        font-size: 1.25em; 
    }
}