.job-distance-rate-container {
  background-color: #1bd497;
  display: flex;
  justify-content: space-between;
  padding: 1em 2.5em 0.75em 2em;
}

.job-distance-rate-header {
  color: #000;
  font-size: 1.2rem;
  letter-spacing: -0.9px;
  font-weight: 600;
}

.rate-container {
  text-align: right;
}

.job-distance-rate-data {
  color: #fff7fe;
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 0.05em;
}

.super {
  vertical-align: super;
  font-size: 1.25rem;
  line-height: normal;
}

@media (max-width: 500px) {
  .job-distance-rate-data {
    font-size: 2rem;
  }
  .job-distance-rate-header {
    font-size: 0.9rem;
  }
  .super {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .job-distance-rate-data {
    font-size: 1.5rem;
  }
  .super {
    font-size: 0.75rem;
  }
}
